.rootCont {
  height: 500px;
  width: 300px;
  margin: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: auto;
}
.chatInput {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  border-top: 2px solid black;
  justify-content: space-around;
  /* margin: auto; */
}
.messageCont {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.chatlist{
  border: 2px solid black;
  height: 200px;
  background-color: red;
}
.doubtroom{
  background: rgb(189, 232, 222);
  background: linear-gradient(90deg, #97f8e2 0%, #e6e6e6 100%);
  height: 100vh;
  padding-top: 0px;
}
.title{
  margin-top: 0;
  padding-top: 23px;
  text-align: center;
}